@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    min-height: 100vh;
}

.welcome-container * {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.welcome-container {
    position: fixed;
    width: 100%;
    height: 100%;    
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#video-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 1;
}

.logo {
    position: fixed;
    top: 1.15cm;
    right: 0.15cm;
    z-index: -1;
    pointer-events: none;
}

.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 15px;
    color: #f1f1f1;
    width: 42%!important;
    height: 42%!important;
}

.welcome-title {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #fff;
    padding: auto;
}

.welcome-text {
    top: 0.5cm;
    bottom: 0.5cm;    
    margin-bottom: 2rem;
    color: #fff;
    font-size: medium;
    line-height: 1.6;
}

.social-links {
    top: 0.5cm;
    bottom: 0.5cm;
    text-align: center;
}

.social-links a {
    color: white !important;
    text-decoration: none;
    font-size: medium;
    transition: color 0.3s ease;
}

.social-links a i.fa{
    color: white !important;
}

.social-links a:hover {
    color: yellow;
}

.button {
    background: linear-gradient(to right, #6ee7b7, #60a5fa);
    color: white;
    position: relative;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
}

.start-button{
    background: linear-gradient(to right, #6ee7b7, #60a5fa);
    color: white;
    position: relative;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: x-large;
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 10pt;
    top: 0.75cm !important;
}

.button:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #60a5fa, #6ee7b7);
}

.gradio-container {
    max-width: 100% !important;
    padding: 10pt !important;
    margin: 0 !important;
}